.findJobsContainer {
  width: 100%;
  padding-top: 5em;
}

.findJobsInner{
  width: 100%;
}

.topH1{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topH1Innder h1{
  font-family: 'Trirong', serif;
  font-size: 2.1em;
  font-weight: 500;
}

.topH1Innder p{
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 0.89em;
  background-color: rgb(180, 142, 65, 0.4);
  width: fit-content;
  padding: 1% 4%;
  border-radius: 1em;
}

/* Import Google Fonts CSS directly in your HTML file */
/* Add this line to the <head> section of your HTML file */
/* <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap"> */

/* Rest of the CSS code */
body {
  font-family: 'Oswald', sans-serif;
  background-color: white;
}

section {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  align-items: center;
  width: 95vw;
  justify-content: center;
}


.card {
  position: relative;
  overflow: hidden;
  padding: 0;
  height: 350px;
  width: 100%;
  margin: 10px 0;
  transition: ease all 2.3s;
  perspective: 1200px;
  border-radius: 12px;
}

.card:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}

.card:hover .cover:before {
  transform: translateZ(30px);
}

.card:hover .cover:after {
  background-color: black;
}

.card:hover h1 {
  transform: translateZ(100px);
}

.card:hover .price {
  transform: translateZ(60px);
}

.card:hover a {
  transform: translateZ(-60px) rotatey(-180deg);
}

.cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}

.cover:before {
  content: '';
  position: absolute;
  border-radius: 12px;
  border: 3px solid #b48e41;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: ease all 2.3s;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}

.cover:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
}

.cover.item-a {
  background-image: url('https://images.pexels.com/photos/590016/pexels-photo-590016.jpeg?auto=compress&cs=tinysrgb&w=800');
}



.custom-slider {
  gap: 20px; /* Adjust spacing between items */
}

.cover.item-b {
  background-image: url('https://images.pexels.com/photos/19579976/pexels-photo-19579976/free-photo-of-smiling-student-in-graduate-gown-shows-her-blue-mortarboard-with-a-tassel.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load');
}

.cover.item-c {
  background-image: url('https://images.pexels.com/photos/16450745/pexels-photo-16450745/free-photo-of-linkedin-page-on-cellphone-screen.jpeg?auto=compress&cs=tinysrgb&w=800');
}
.cover.item-d {
  background-image: url('https://images.pexels.com/photos/3727511/pexels-photo-3727511.jpeg?auto=compress&cs=tinysrgb&w=800');
}
.cover.item-e {
  background-image: url('https://images.pexels.com/photos/5699475/pexels-photo-5699475.jpeg?auto=compress&cs=tinysrgb&w=800');
}
.cover.item-f {
  background-image: url('https://images.pexels.com/photos/4491918/pexels-photo-4491918.jpeg?auto=compress&cs=tinysrgb&w=800');
}
.cover.item-g {
  background-image: url('https://images.pexels.com/photos/7491564/pexels-photo-7491564.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load');
}
.cover.item-h {
  background-image: url('https://images.pexels.com/photos/4261800/pexels-photo-4261800.jpeg?auto=compress&cs=tinysrgb&w=800');
}

.cover h1 {
  font-weight: 400;
  position: absolute;
  bottom: 55px;
  left: 50px;
  color: rgb(255, 255, 255, 0.9);
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 3;
  font-size: 1.5em;
  transform: translateZ(0px);
}

.price {
  font-weight: 400;
  position: absolute;
  top: 55px;
  right: 50px;
  color: rgb(245, 188, 75);
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 4;
  font-size: 1.2em;
  transform: translateZ(0px);
}

.card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--jungle-green);
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  transform: translateZ(-1px);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 0.9em;
  flex-direction: column;
}

.card-back a {
  transform-style: preserve-3d;
  transition: ease transform 2.3s, ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  border: 1px solid #b48e41;
  font-weight: 300;
  font-size: 1em;
  color: #b48e41;
  padding: 10px 32px;
  border-radius: 12px;
  outline: none;
  text-decoration: none;
}

.card-back a:hover {
  background-color: #b48e41;
  color: var(--jungle-green);
}

.servicesAndroid{
  display: none;
  position: relative;
  z-index: 60;
}

@media screen and (min-width: 320px) and (max-width: 736px) {

  .one {
    height: 27rem;
    width: 97%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.6vh;
    position: relative;
  }

  .one::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.16); 
    z-index: 1;
    border-radius: 0.6vh;
  }

  .androidH1Container{
    position: absolute;
    bottom: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    z-index: 2;
  }

  .androidH1Container h1{
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
  }

  .androidH1ContainerIcon{
    color: white;
  }

  .androidOne {
    background-image: url('https://images.pexels.com/photos/590016/pexels-photo-590016.jpeg?auto=compress&cs=tinysrgb&w=800');
  }
  
  .androidTwo {
    background-image: url('https://images.pexels.com/photos/19579976/pexels-photo-19579976/free-photo-of-smiling-student-in-graduate-gown-shows-her-blue-mortarboard-with-a-tassel.jpeg?auto=compress&cs=tinysrgb&w=1200&lazy=load');
  }
  
  .androidThree {
    background-image: url('https://images.pexels.com/photos/16450745/pexels-photo-16450745/free-photo-of-linkedin-page-on-cellphone-screen.jpeg?auto=compress&cs=tinysrgb&w=800');
  }
  .androidFour {
    background-image: url('https://images.pexels.com/photos/3727511/pexels-photo-3727511.jpeg?auto=compress&cs=tinysrgb&w=800');
  }
  .androidFive {
    background-image: url('https://images.pexels.com/photos/5699475/pexels-photo-5699475.jpeg?auto=compress&cs=tinysrgb&w=800');
  }
  .androidSix {
    background-image: url('https://images.pexels.com/photos/4491918/pexels-photo-4491918.jpeg?auto=compress&cs=tinysrgb&w=800');
  }
  .androidSeven {
    background-image: url('https://images.pexels.com/photos/7491564/pexels-photo-7491564.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load');
  }
  .androidEight {
    background-image: url('https://images.pexels.com/photos/4261800/pexels-photo-4261800.jpeg?auto=compress&cs=tinysrgb&w=800');
  }

  .card{
    height: 15em;
  }

  .topH1Innder h1{
    font-size: 1em;
    font-family: sans-serif;
  }

  .topH1Innder p{
    font-size: 0.7em;
    margin-bottom: 0.7em;
    background-color: transparent;
    color: var(--jungle-green);
    border-radius: 0.6vh;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--jungle-green);
  }

  .topH1{
    justify-content: left;
    position: relative !important;
    z-index: 10 !important;
  }

  .topH1Innder{
    width: 93%;
    margin: auto;
  }

  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .row>*{
    padding-left: 0 !important;
    width: 100%;
    padding-right: 0 !important;
  }

  .findJobsContainer{
    padding-top: 2em;
    z-index: 100;
    position: relative;
    background-color: white;
    margin-bottom: 2rem;
  }

  section{
    width: 88%;
    margin-top: 0em !important;
    margin: 0 auto !important;
  }

  .webSection{
    display: none;
  }

  .servicesAndroid{
    display: block;
    padding-left: 0.8rem;
  }

  .carousel-button-group{
    position: absolute;
    top: 1rem;
    right: 0;
    display: flex;
    gap: 2rem;
    padding-right: 1rem;
  }

  .carousel-button-group button{
    background-color: var(--jungle-green);
    color: white;
    z-index: 60 !important;
    padding: 0.2rem 0.5rem;
    border-radius: 0.6vh;
    border: none;
    outline: none;
    box-shadow: none;
  }

  .react-multiple-carousel__arrow{
    display: none !important;
  }

  .disable{
    background-color: rgba(83, 130, 138, 0.7) !important;
  }

  .serviceBlurAndroid{
    position: absolute;
    top: 0;
    bottom: -400%;
    left: 0;
    right: 0;
    /* From https://css.glass */
background: rgba(28, 54, 58, 0.34);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.5px);
-webkit-backdrop-filter: blur(3.5px);
    z-index: 1900;
  }

  .serviceBlurAndroidCard{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }

  .serviceCard{
    height: 80%;
    width: 85%;
    background-color: white;
    position: absolute;
    top: 53%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.6vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .serviceCardInner{
    border: 1px solid rgba(28, 54, 58, 0.2);
    height: 96%;
    width: 95%;
    margin: auto;
    border-radius: 0.6vh;
    padding: 0.4rem 1rem;
    position: relative;
  }

  .timeCostServiceCard{
    position: absolute;
    top: 7%;
    right: 7%;
  }

  .serviceCardInnerLogo{
    width: 5.5rem;
  }

  .serviceCardInnerContent h1{
    color: var(--jungle-green);
    font-size: 16px;
    font-weight: 500;
  }

  .serviceCardInnerContentPtag{
    font-size: 14px;
    color: var(--jungle-green);
  }

  .topH1InnderServiceCard{
    width: 100% !important;
  }

  .topH1ServiceCard{
    margin: 2rem 0;
    margin-top: 1rem;
  }

  .serviceCardButtonsPurchase{
    background-color: var(--jungle-green);
    color: white;
    padding: 0.3rem 1.4rem;
    border-radius: 0.6vh;
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
    transition: all 0.3s;
  }

  .serviceCardButtonsPurchase:hover{
    background-color: whitesmoke;
    color: var(--jungle-green);
    border: 1px solid var(--jungle-green);
  }

  .serviceCardButtons{
    display: flex;
    justify-content: right;
    width: 100%;
    margin-top: 1rem;
    font-size: 15px;
  }

  .timeCostServiceCard span{
    display: flex;
    gap: 0.5rem;
    font-size: 12px;
    color: var(--jungle-green);
  }

  .timeCostServiceCard span p{
    margin: 0;
  }

  .closeServiceCard{
    background-color: var(--jungle-green);
    border-radius: 50%;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2%;
    right: -2.7%;
  }
}

